<h1>Your Secrets</h1>
<p>When you fell sad, lonely or just want to save your memories</p>
<p>Tell me!</p>
<p>I can save this momment</p>
<p>I'm your secret Friend, your special friend</p>
<img src="https://dncache-mauganscorp.netdna-ssl.com/thumbseg/1779/1779511-bigthumbnail.jpg"/>
<p>Hanh Nguyen</p>